
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

textarea {
  width: 100%;
}

.green {
  background-color: lightgreen;
}

.red {
  background-color: hotpink;
}

.yellow {
  background-color: yellow;
}
